<div class="container-fluid">
    <div class="card bg-light text-center" style="width: 485px; margin-left: 480px; margin-top:75px">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>

            <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Your name" type="text">
                <!-- <div *ngIf="submitted && f.name.errors">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div> -->
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">User Name is required</div>
                </div>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                 </div>
                <input name="" class="form-control" formControlName="email" placeholder="Email address" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>

            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+91</option>
                    <option value="1">+121</option>
                    <option value="2">+198</option>
                    <option value="3">+701</option>
                </select>
                <input name="" class="form-control" formControlName="phoneNumber" placeholder="Phone number" type="text" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>
                    <div *ngIf="f.phoneNumber.errors.minlength">phoneNumber must be a valid </div>
                </div>
            </div> <!-- form-group// -->
             <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" formControlName="password" placeholder="Create password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" formControlName="confirmPassword" placeholder="Repeat password" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">

                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                </div>
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="formSubmission()"> Create Account  </button>
            </div> <!-- form-group// -->
            <p>
                <a href="" style="background-color: red;" class="btn btn-block btn-twitter">    Login via Google</a>
            </p>
            <p class="text-center">Have an account? <a href="" (click)="loadSignIn()" routerLink="/login">Log In</a> </p>
        </form>

        </article>
        </div> <!-- card.// -->
</div>
<signup-form *ngIf="loadSignComponent"></signup-form>



