<app-layout></app-layout>
<div class="section">
  <div class="container-fluid layout">
    <div class="row" style="margin-left: -200px;" *ngIf="!isLoggedIn">
      <div class="col-md-12">
        <div
          class="order-details"
          style="width: 700px; height: 500px; margin: auto;"
        >
          <div class="section-title">
            <h3 class="title">Your Cart</h3>
          </div>
          <div>
            <img
              src="../../assets/emptyCart.png"
              style="width: 500px; height: 270px; margin-left: 50px;"
              alt=""
            />
          </div>
          <div class="section-title" style="text-align: center;">
            <h5 class="title">Missing Cart Items</h5>
          </div>
          <div class="section-title" style="text-align: center;">
            <p>Login to See the items you added previously</p>
          </div>
          <div style="padding-left: 215px;">
            <a
              href=""
              [routerLink]="['/authentication/login']"
              class="primary-btn order-submit"
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="margin-left: -200px;"
      *ngIf="!cartDisplay && isLoggedIn"
    >
      <div class="col-md-12">
        <div
          class="order-details"
          style="width: 700px; height: 415px; margin: auto;"
        >
          <div class="section-title">
            <h3 class="title">Your Cart</h3>
          </div>
          <div>
            <img
              src="../../assets/emptyCart.png"
              style="width: 500px; height: 270px; margin-left: 50px;"
              alt=""
            />
          </div>
          <div style="padding-left: 192px;">
            <a
              href=""
              [routerLink]="['/dashboard']"
              class="primary-btn order-submit"
              >Shop Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cartDisplay">
      <div class="col-md-6 order-details">
        <div class="section-title">
          <h3 class="title">Your Cart</h3>
        </div>
        <div class="order-products">
          <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>DESCRIPTION</strong></div>
            <div><strong>PRICE</strong></div>
          </div>
        </div>
        <div class="order-products">
          <div class="order-col" *ngFor="let product of cartArray">
            <div>
              <img
                src="{{ product.image }}"
                height="150px"
                width="150px"
                alt=""
              />
              <div class="upper">
                <p-inputNumber
                  #changedQty
                  style="height: 10px;"
                  size="2"
                  [ngModel]="product.qty"
                  [step]="1"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  decrementButtonClass="p-button-danger"
                  incrementButtonClass="p-button-success"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  (ngModelChange)="changeQty(product.pId, changedQty)"
                >
                </p-inputNumber>
              </div>
            </div>
            <div>
              <strong>{{ product.pName }}</strong>
              <div class="description">Seller : {{ product.brand }}</div>
              <div class="description">Delivery in 2 Days, Fri | Free</div>
              <div class="description">10 Days Replacement Policy</div>

              <div class="inner">
                <div (click)="removeProduct(product.pId)">REMOVE</div>
                <div style="padding-left: 30px;">SAVE FOR LATER</div>
              </div>
            </div>
            <div>
              <strong
                >RS {{ product.price | pricecalculation: product.qty }}</strong
              >
            </div>
          </div>
        </div>
        <div class="bottom">
          <a href="" class="primary-btn order-submit">Place Order</a>
        </div>
      </div>
      <div style="margin-left: 20px;" class="col-md-4 order-details">
        <div class="price-title">
          <h5 class="title">Price Details</h5>
        </div>
        <div class="price-products">
          <div class="price-col">
            <div class="price-text">PRICE (2 ITEMS)</div>
            <div class="price-text" style="text-align: right;">
              RS {{ this.productTotal }}
            </div>
          </div>
          <div class="price-col">
            <div class="price-text">DELIVERY FEE</div>
            <div class="price-text" style="text-align: right;">
              RS {{ this.delieveryPrice }}
            </div>
          </div>
          <div class="price-col" style="margin-top: 15px;">
            <div class="total-price">TOTAL AMOUNT</div>
            <div class="total-price" style="text-align: right;">
              RS {{ this.totalPrice }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
