<header style="padding-bottom: 75px;">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" style="font-size: 35px; color: white;">SWAPDEAL</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="header-search">
            <form>
              <p-autoComplete #name [(ngModel)]="text" [ngModelOptions]="{standalone:true}" [suggestions]="results"
                (onSelect)="getSearchProduct($event)" (completeMethod)="search($event)" size="40">
              </p-autoComplete>

              <button class="search-btn" (click)="searchProducts()">
                Search
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 clearfix">
          <div class="header-ctn">
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">2</div>
              </a>
            </div>
            <div>
              <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Wishlist</span>
                <div class="qty">2</div>
              </a>
            </div>
            <div>
              <a href="#">
                <i class="fa fa-user-o"></i>
                <span>My Account</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav id="navigation" class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav main-nav">
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Electronics')">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('TV&Appliances')">TV & Appliances</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Men')">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Women')">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Baby & Kids')">Baby & Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Home and Furniture')">Home and Furniture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-font" (click)="changeCategory('Sports&Books')">Sports & Books</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>