
  <header>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="header-logo">
              <a  href="#" style=" font-size: 35px;color:white;">SWAPDEAL</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="header-search">
              <form>
                <input type="text" class="input" placeholder="Search here">
                <button class="search-btn">Search</button>
              </form>
            </div>
          </div>
          <div class="col-md-4 clearfix">
            <div class="header-ctn">
              <div>
                <a href="#">
                  <i class="fa fa-heart-o"></i>
                  <span>Your Wishlist</span>
                  <div class="qty">2</div>
                </a>
              </div>
              <div>
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Your Wishlist</span>
                  <div class="qty">2</div>
                </a>
              </div>
              <div>
                <a href="#">
                  <i class="fa fa-user-o"></i>
                  <span>My Account</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  
