.sidebar{
    height: 100%;
    width:150px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    margin-top:55px
}

.sidebar a{
    padding : 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 15px;
    color: #eeeeee;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.nav-color{
    background: #070000; 
 
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000); 
 
background: linear-gradient(to right, #070000, #4C0001, #070000);
}

:host ::ng-deep .test {
    background-color: white;
    box-shadow: 4px 0 10px 0 rgba(0,0,0,.4);
  }
:host ::ng-deep .ui-sidebar{
    padding: 0px 0px;

}

.navbar.navbar-inverse .navbar-header .navbar-brand {
    display: block;
    text-align:center;
    float: none;
    vertical-align: top;
}

.navbar.navbar-inverse .navbar-header{
float: none; 
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }