
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
    
    <a class="navbar-brand" href="#" style="padding-left: 12px; font-size: 23px; font-family: Bradley Hand, cursive;color: #d3d4d2;">Swapdeal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" style="background-color: #d3d4d2;width: 400px; font-size: 14px;  border-radius: 0px;" placeholder="Search products & brands" aria-label="Search">
            <button type="submit" style="background-color: black; border-color: black; border-radius: 0px; height:  32px;padding: 0px 10px;font-family: Bradley Hand, cursive" class="btn btn-primary"><span><i class="fa fa-search" style="color: #d3d4d2;"></i><span style="padding-left:10px;color: #d3d4d2;">Search</span></span></button>
          </form>
        </li>
      </ul> 
      <ul class="nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#" ><i class="fa fa-shopping-cart" style="font-size: 22px;color: #d3d4d2; "></i><span style="color: #d3d4d2;padding-left: 15px; font-size: 18px; font-family: Bradley Hand, cursive">Cart</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user" style="font-size: 22px;padding-left: 15px;color: #d3d4d2;"></i><span style="color: #d3d4d2;padding-left: 15px; font-family: Bradley Hand, cursive" (click)="logout()">{{userName}}</span></a>
        </li>
    </ul>
    </div>
  </nav>
  
  
  
