

<nav id="navigation" class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav main-nav">
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Hot Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">TV & Appliances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Baby & Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-font" href="#">Home and Furniture</a>
      </li>
    </ul>
  </div>
</nav>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/shop01.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Electronics</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop">
          <div class="shop-img" >
            <img src="../../assets/kitchen1.jpeg" height="170px" alt="">
          </div>
          <div class="shop-body">
            <h3>Home &<br>Kitchen</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/Health  Beauty Products.jpg" height="170px" alt="">
          </div>
          <div class="shop-body">
            <h3>Beauty &<br>Health</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop">
          <div class="shop-img">
            <img src="../../assets/books and music.jpg" height="170px" alt="">
          </div>
          <div class="shop-body">
            <h3>Books &<br>Music</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
              <li><a data-toggle="tab" (click)="changeProduct('Smartphones')" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" (click)="changeProduct('Sports')" href="#tab1">Sports</a></li>
              <li><a data-toggle="tab" (click)="changeProduct('Accessories')" href="#tab1">Accessories</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row transition" >
      <div class="col-md-3" *ngFor="let product of newProductDisplay">
        <div class="product">
          <div class="product-img">
            <img src="{{product.image}}" style="width: 100%;" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">{{product.category}}</p>
            <h3 class="product-name"><a href="#">{{product.name}}</a></h3>
            <h4 class="product-price">{{product.discountPrice}} <del class="product-old-price">{{product.price}}</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="slick-float">
        <button class="slick-prev slick-arrow" (click)="prev()"></button>
        <button class="slick-next slick-arrow" (click)="next()"></button>
      </div>
    </div>
  </div>
</div>
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li><div>
              <h3>2</h3>
              <span>Days</span>
            </div>
          </li>
          <li>
            <div>
              <h3>{{hours}}</h3>
              <span>Hours</span>
            </div>
          </li>
          <li>
            <div>
              <h3>{{minutes}}</h3>
              <span>Mins</span>
            </div>
          </li>
          <li>
            <div>
              <h3>{{seconds}}</h3>
              <span>Secs</span>
            </div>
          </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
					<p>New Collection Up to 50% OFF</p>
					<a class="primary-btn cta-btn" href="#">Shop now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Top sells</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="product">
          <div class="product-img">
            <img src="../../assets/product01.png" style="width: 100%;" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Electronics</p>
            <h3 class="product-name"><a href="#">Lenovo Ideapad 330(8 GB/2TB HDD/DOS/2 GB Graphics)</a></h3>
            <h4 class="product-price">RS 67,090 <del class="product-old-price">RS 46,990</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product">
          <div class="product-img">
            <img src="../../assets/redmi1.jpg" style="width: 100%" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">smartphones</p>
            <h3 class="product-name"><a href="#">Redmi Note 8 Pro(Electric Blue, 6 GB Ram, 64GB Stroage)</a></h3>
            <h4 class="product-price">RS 15,999<del class="product-old-price">RS 16,999</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product">
          <div class="product-img">
            <img src="../../assets/sports.jpg" style="width: 100%;" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Sports</p>
            <h3 class="product-name"><a href="#">Men's Max Seawalk idp running shoes</a></h3>
            <h4 class="product-price">RS 1599 <del class="product-old-price">RS 1699</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product">
          <div class="product-img">
            <img src="../../assets/accessories.webp" style="width: 100%;" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Accessories</p>
            <h3 class="product-name"><a href="#">JBL c300si extra bass wireless on-ear headphones</a></h3>
            <h4 class="product-price">RS 2399 <del class="product-old-price">RS 3499</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<footer id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">About us</h3>
            <p>Swapdeal is an e-commerce platform where person can buy anything at afforable price</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Infosys Phase-2 FC4</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+091-1234567890</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>mihir@email.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a href="#">Hot deals</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Smartphones</a></li>
              <li><a href="#">Cameras</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li><a href="#">My Account</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="bottom-footer" class="section">
  <div class="container">
    <div class="row" class="text-center">
      <div class="col-md-12" class="text-center">
        <ul class="footer-payments">
          <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
          <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
        </ul>
        <span class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Application is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Mihir & Aisha</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </span>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white;">Loading...</p>
</ngx-spinner>